<h1>Ecalcs#index</h1>

<h2>Import Sucessful!</h2>

<% @ecalc.find_by session[:user_id] %>
	<p><%= Ecalc.result %></p>


<a href="https://hourlypricing.comed.com/enroll/">Enroll here</a>
<br />
<a href="https://hourlypricing.comed.com/faqs/">Want to learn more?</a>









