<h2>Import Sucessful!</h2>

<% @ecalc.find_by session[:user_id] %>
 	<p><%= @energy_usage %></p>
 	<p><%= @whatever %></p>
 	
 	




<h3>You are a good candidate for the Hourly Pricing Program!</h3>
<h5> You could have saved $5.53 on your September ComEd bill.</h5>


<a href="https://hourlypricing.comed.com/enroll/">Enroll here</a>
<br />
<a href="https://hourlypricing.comed.com/faqs/">Want to learn more?</a>









