
<h2>Import a CSV of your energy usage data!</h2>

<%= form_tag import_path, multipart: true do %>

	<%= file_field_tag :file %>
	<br />
	<%= submit_tag "Import Energy Data" %>
<%end%>

<h3>How do I get a CSV file my energy Data?</h3>
<p>Step 1: Create an online ComEd account</p>
<p>Step 2: Go to the “Energy Management Page”</p>
<p>Step3: Click the large green button at the bottom of the page called “Green Button Download”.  This tool allows you to download your energy usage data for your household in a CSV format.</p>


<h1>Ecalcs#new</h1>